.footer-wrapper {
  display: flex;
  justify-content: space-between;
  color: #868e96;
  margin-top: 100px;
}

.company-name {
  margin: 15px 0 8px 33px;
}

.my-github {
  margin: 15px 33px 8px 0;
}

.my-github a {
  text-decoration: none;
  color: #868e96;
}